ALTER TABLE TaskMan.Project ADD
	ModifiedBy varchar(20) NULL,
	ModifiedTime datetime NULL
GO

ALTER PROCEDURE [TaskMan].[UpdateProject] 
			@DatabaseId int,
			@ParentProjectId int,
            @Name varchar(100) =null,
            @Priority varchar(16)=null,
            @DetailedDescription varchar(5000)=null,
            @Owner varchar(500)=null     
	
AS
BEGIN
	if @Owner is null
	select @Owner = USER
	
	if @DatabaseId > 0
	begin
		update TaskMan.Project set	
			 Name = @Name,
			 Priority = @Priority,
			 ParentProjectId = @ParentProjectId,
			 DetailedDescription = @DetailedDescription,
			 [Owner] = @Owner,
			 ModifiedBy = user,
			 ModifiedTime = getDate()
		where  ProjectId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Project 
			( Name, ParentProjectId, Priority,DetailedDescription,[Owner],ModifiedBy,ModifiedTime)
		values
			( @Name, @ParentProjectId, @Priority,@DetailedDescription,@Owner,user,getDate())
		 
		 select convert(int,@@IDENTITY)		
	end
END
