
CREATE TABLE TaskMan.Tmp_Attachment
	(
	AttachmentId int NOT NULL IDENTITY (1, 1),
	TaskId int NULL,
	ComponentId int NULL,
	ProjectId int NULL,
	Name varchar(250) NOT NULL,
	CreateTime datetime NULL,
	DataType varchar(10) NOT NULL,
	[From] varchar(20) NULL,
	Size int NULL,
	Data varbinary(MAX) NULL,
	Owner varchar(50) NULL,
	ModifiedBy varchar(20) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Attachment SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Attachment ON
GO
IF EXISTS(SELECT * FROM TaskMan.Attachment)
	 EXEC('INSERT INTO TaskMan.Tmp_Attachment (AttachmentId, TaskId, ComponentId, ProjectId, Name, CreateTime, DataType, [From], Data, Owner, ModifiedBy, ModifiedTime)
		SELECT AttachmentId, TaskId, ComponentId, ProjectId, Name, CreateTime, DataType, [From], Data, Owner, ModifiedBy, ModifiedTime FROM TaskMan.Attachment WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Attachment OFF
GO
DROP TABLE TaskMan.Attachment
GO
EXECUTE sp_rename N'TaskMan.Tmp_Attachment', N'Attachment', 'OBJECT' 
GO




ALTER PROCEDURE [TaskMan].[UpdateAttachment] 
			@DatabaseId int,
            @TaskId int,
            @ComponentId int,
            @ProjectId int,
            @Name varchar(250),
            @CreateTime DateTime =null,
            @DataType varchar(10),
            @From varchar(20)=null,
            @Data varbinary(MAX)=null,
            @Owner varchar(50) =null,
            @Size int =null
AS
BEGIN
	if @DatabaseId > 0
	begin
		update TaskMan.Attachment set	
			 TaskId = @TaskId,
			 ComponentId = @ComponentId,
			 ProjectId = @ProjectId,
			 Name = @Name,
			 CreateTime = @CreateTime,
			 [DataType] = @DataType,
			 [From] = @From,
			 Data = @Data,
			 [Owner] = @Owner,
			 Size = @Size,
			 ModifiedBy = user,
			 ModifiedTime = getDate()
		where  AttachmentId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Attachment 
			(TaskId, ComponentId,ProjectId,Name, CreateTime, [DataType], [From], Data, Size,[Owner],ModifiedBy,ModifiedTime)
		values
			(@TaskId,@ComponentId,@ProjectId,@Name,@CreateTime,@DataType,@From,@Data, @Size, @Owner,user,getDate())
		 
		 select convert(int,@@IDENTITY)			
	end
END
go


ALTER PROCEDURE [TaskMan].[SelectAllAttachements] 
AS
BEGIN
	select AttachmentId,
		   TaskId,
		   ComponentId,
		   ProjectId,
		   Name,
		   CreateTime,
		   DataType,
		   Size,
		   [From],
		   [Owner]
	 from TaskMan.Attachment
END
