ALTER TABLE TaskMan.Remark ADD
	ModifiedBy varchar(20) NULL
GO



ALTER PROCEDURE [TaskMan].[UpdateRemark] 
			@DatabaseId int,
            @TaskId int,
            @ComponentId int,
            @ProjectId int,
            @RemarkText varchar(1000)=null,
            @Owner varchar(50) =null,
            @ModifiedTime datetime =null output
AS
BEGIN

	select @ModifiedTime = GETDATE()

	if @DatabaseId > 0
	begin
		update TaskMan.Remark set	
			 TaskId = @TaskId,
			 ComponentId = @ComponentId,
			 ProjectId = @ProjectId,
			 RemarkText = @RemarkText,
			 [Owner] = @Owner,
			 ModifiedTime = @ModifiedTime,
			 ModifiedBy = user
		where  RemarkId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Remark 
			(TaskId, ComponentId,ProjectId, RemarkText,[Owner], ModifiedTime,ModifiedBy)
		values
			(@TaskId,@ComponentId,@ProjectId,@RemarkText,@Owner,@ModifiedTime,user)
		 
		 select convert(int,@@IDENTITY)			
	end
END
