
CREATE TABLE TaskMan.Tmp_Remark
	(
	RemarkId int NOT NULL IDENTITY (1, 1),
	TaskId int NULL,
	ComponentId int NULL,
	ProjectId int NULL,
	RemarkText varchar(1000) NULL,
	Owner varchar(50) NOT NULL,
	ModifiedTime datetime NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Remark SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Remark ON
GO
IF EXISTS(SELECT * FROM TaskMan.Remark)
	 EXEC('INSERT INTO TaskMan.Tmp_Remark (RemarkId, TaskId, ComponentId, ProjectId, RemarkText, Owner, ModifiedTime)
		SELECT RemarkId, TaskId, ComponentId, ProjectId, RemarkText, ModifiedBy, ModifiedTime FROM TaskMan.Remark WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Remark OFF
GO
DROP TABLE TaskMan.Remark
GO
EXECUTE sp_rename N'TaskMan.Tmp_Remark', N'Remark', 'OBJECT' 
GO

