ALTER PROCEDURE [TaskMan].[SelectAllAttachements] 
AS
BEGIN
	select AttachmentId,
		   TaskId,
		   ComponentId,
		   ProjectId,
		   Name,
		   CreateTime,
		   DataType,
		   [From],
		   [Owner]
	 from TaskMan.Attachment
END
