ALTER TABLE TaskMan.Task2Project ADD
	ModifiedBy varchar(20) NULL,
	ModifiedTime datetime NULL
GO



ALTER PROCEDURE [TaskMan].[UpdateTask2Project] 
			@DatabaseId int,
            @TaskId int, 
            @ProjectId int       
	
AS
BEGIN
	if @DatabaseId > 0
	begin
		update TaskMan.Task2Project set	
			  TaskId = @TaskId,
			  ProjectId = @ProjectId,
			 ModifiedBy = user,
			 ModifiedTime = getDate()
		where  Task2ProjectId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Task2Project 
			(TaskId, ProjectId,ModifiedBy,ModifiedTime)
		values
			(@TaskId, @ProjectId,user,getDate())
		 
		 select convert(int,@@IDENTITY)			
	end
END
