
ALTER TABLE TaskMan.Component ADD
	[Owner] varchar(50) NULL,
	ModifiedBy varchar(20) NULL,
	ModifiedTime datetime NULL
GO


ALTER PROCEDURE [TaskMan].[UpdateComponent] 
			@DatabaseId int,
            @ParentComponentId int =null,
            @Name varchar(100) =null,
            @Owner varchar(50) =null        
	
AS
BEGIN
	if @DatabaseId > 0
	begin
		update TaskMan.Component set	
			 ParentComponentId = @ParentComponentId,
			 Name = @Name,
			 [Owner]=@Owner,
			 ModifiedBy = user,
			 ModifiedTime = getDate()
		where  ComponentId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Component 
			(ParentComponentId, Name,ModifiedBy,ModifiedTime,[Owner])
		values
			(@ParentComponentId, @Name,user,getDate(),@Owner)
		 
		select convert(int,@@IDENTITY)	
	end
END
