/*
   26 June 201206:31:00
   User: 
   Server: JABBA\SQLSERVEREXPRESS
   Database: TaskMan
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_Component
	(
	ComponentId int NOT NULL IDENTITY (1, 1),
	ParentComponentId int NULL,
	Name nvarchar(1000) NOT NULL,
	Owner nvarchar(50) NULL,
	ModifiedBy nvarchar(50) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Component SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Component ON
GO
IF EXISTS(SELECT * FROM TaskMan.Component)
	 EXEC('INSERT INTO TaskMan.Tmp_Component (ComponentId, ParentComponentId, Name, Owner, ModifiedBy, ModifiedTime)
		SELECT ComponentId, ParentComponentId, CONVERT(nvarchar(1000), Name), CONVERT(nvarchar(50), Owner), CONVERT(nvarchar(50), ModifiedBy), ModifiedTime FROM TaskMan.Component WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Component OFF
GO
DROP TABLE TaskMan.Component
GO
EXECUTE sp_rename N'TaskMan.Tmp_Component', N'Component', 'OBJECT' 
GO
COMMIT
