ALTER TABLE TaskMan.Task2Resource ADD
	ModifiedBy varchar(20) NULL,
	ModifiedTime datetime NULL
GO


ALTER PROCEDURE [TaskMan].[UpdateTask2Resource] 
			@DatabaseId int,
            @TaskId int, 
            @PersonId int = null,
            @OtherResourceId int = null       
	
AS
BEGIN
	if @DatabaseId > 0
	begin
		update TaskMan.Task2Resource set	
			  TaskId = @TaskId,
			  PersonId = @PersonId,
			  OtherResourceId = @OtherResourceId,
			 ModifiedBy = user,
			 ModifiedTime = getDate()
		where  Task2ResourceId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Task2Resource 
			(TaskId, PersonId,OtherResourceId,ModifiedBy,ModifiedTime)
		values
			(@TaskId, @PersonId,@OtherResourceId,user,getDate())
		 
		 select convert(int,@@IDENTITY)	
	end
END
