USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[SelectAllAttachements]    Script Date: 12/07/2011 06:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [TaskMan].[SelectAllAttachements] 
AS
BEGIN
	select AttachmentId,
		   TaskId,
		   ComponentId,
		   ProjectId,
		   Name,
		   CreateTime,
		   DataType,
		   [From],
		   [Owner]
	 from TaskMan.Attachment
END
