/*
   24 November 201106:23:21
   User: 
   Server: CHIRPA\SQLSERVEREXPRESS
   Database: TaskMan
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TaskMan.Task ADD
	Owner varchar(50) NULL
GO
ALTER TABLE TaskMan.Task SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
