USE [master]
GO
/****** Object:  Database [ProjectPalDB_2]    Script Date: 28/07/2026 08:29:41 ******/
CREATE DATABASE [ProjectPalDB_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectPalDB_2_Plan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ProjectPalDB_2.mdf' , SIZE = 1024000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB )
 LOG ON 
( NAME = N'ProjectPalDB_2_Plan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ProjectPalDB_2.ldf' , SIZE = 256000KB , MAXSIZE = 2048GB , FILEGROWTH = 10240KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectPalDB_2].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [ProjectPalDB_2]
GO


/****** Object:  Schema [ProjectPal]    Script Date: 28/07/2026 08:29:41 ******/
CREATE SCHEMA [ProjectPal]
GO

/****** Object:  Table [ProjectPal].[Attachment]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[Attachment](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NULL,
	[ComponentId] [int] NULL,
	[ProjectId] [int] NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[CreateTime] [datetime] NULL,
	[DataType] [nvarchar](10) NOT NULL,
	[From] [nvarchar](20) NULL,
	[Size] [int] NULL,
	[Data] [varbinary](max) NULL,
	[Owner] [nvarchar](50) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ProjectPal].[Component]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[Component](
	[ComponentId] [int] IDENTITY(1,1) NOT NULL,
	[ParentComponentId] [int] NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Owner] [nvarchar](50) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ProjectPal].[Person]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[Person](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsResource] [bit] NULL,
	[IsActive] [bit] NULL,
	[DBLogin] [nvarchar](50) NULL,
	[UserType] [nvarchar](20) NULL,
	[Colour] [nvarchar](25) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ProjectPal].[Project]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[Project](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[ParentProjectId] [int] NULL,
	[Priority] [nvarchar](50) NULL,
	[DetailedDescription] [nvarchar](max) NULL,
	[Owner] [nvarchar](50) NULL,
	[Private] [bit] NULL,
	[DueDate] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ProjectPal].[Remark]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[Remark](
	[RemarkId] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NULL,
	[ComponentId] [int] NULL,
	[ProjectId] [int] NULL,
	[RemarkText] [nvarchar](max) NULL,
	[Owner] [nvarchar](50) NOT NULL,
	[ModifiedTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ProjectPal].[System]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[System](
	[ReleaseVersion] [nvarchar](50) NULL,
	[LastUpdateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ProjectPal].[Task]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NULL,
	[OrigTaskNumber] [nvarchar](50) NULL,
	[Priority] [nvarchar](50) NULL,
	[AffectedComponentId] [int] NULL,
	[Description] [varchar](1000) NULL,
	[ExternalReferenceURL] [nvarchar](150) NULL,
	[RequestorPersonId] [int] NULL,
	[DateAdded] [datetime] NOT NULL,
	[EffortInDays] [float] NULL,
	[EffortType] [nvarchar](50) NULL,
	[PercentageAllocation] [float] NULL,
	[TaskType] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[StatusDate] [datetime] NULL,
	[DetailedDescription] [nvarchar](max) NULL,
	[Owner] [nvarchar](50) NULL,
	[Private] [bit] NULL,
	[TentativeResourceAssignment] [bit] NULL,
	[StartRelativeDaysToProject] [int] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [ProjectPal].[Task2Resource]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[Task2Resource](
	[Task2ResourceId] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[PersonId] [int] NULL,
	[OtherResourceId] [int] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ProjectPal].[TimeDependency]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProjectPal].[TimeDependency](
	[TimeDependencyId] [int] IDENTITY(1,1) NOT NULL,
	[PreTaskId] [int] NULL,
	[PreProjectId] [int] NULL,
	[PostTaskId] [int] NULL,
	[PostProjectId] [int] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetTasks]    Script Date: 28/07/2026 08:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



USE [master]
GO

USE [ProjectPalDB_2]
GO

INSERT INTO [ProjectPal].[System]
           ([ReleaseVersion]
           ,[LastUpdateTime])
     VALUES
           ('4.10.0',
           GetDate())
GO



INSERT INTO [ProjectPal].[Person]
           ([Name]
           ,[IsResource]
           ,[IsActive]
           ,[DBLogin]
           ,[UserType]
           ,[Colour]
           ,[ModifiedBy]
           ,[ModifiedTime])
     VALUES
           ('Neil', 1, 1, 'EUROPE\marrison','SuperUser','Yellow','EUROPE\marrison',GetDate())
GO

INSERT INTO [ProjectPal].[Person]
           ([Name]
           ,[IsResource]
           ,[IsActive]
           ,[DBLogin]
           ,[UserType]
           ,[Colour]
           ,[ModifiedBy]
           ,[ModifiedTime])
     VALUES
           ('Unassigned', 1, 1, NULL,'ReadOnlyUser','ReadOnlyUser','EUROPE\marrison',GetDate())
GO

