/*
   09 December 201106:33:21
   User: 
   Server: JARJARBINKS\SQLSERVEREXPRESS
   Database: TaskMan
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_Remark
	(
	RemarkId int NOT NULL IDENTITY (1, 1),
	TaskId int NULL,
	ComponentId int NULL,
	ProjectId int NULL,
	RemarkText varchar(1000) NULL,
	Owner varchar(50) NOT NULL,
	ModifiedTime datetime NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Remark SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Remark ON
GO
IF EXISTS(SELECT * FROM TaskMan.Remark)
	 EXEC('INSERT INTO TaskMan.Tmp_Remark (RemarkId, TaskId, ComponentId, ProjectId, RemarkText, Owner, ModifiedTime)
		SELECT RemarkId, TaskId, ComponentId, ProjectId, RemarkText, ModifiedBy, ModifiedTime FROM TaskMan.Remark WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Remark OFF
GO
DROP TABLE TaskMan.Remark
GO
EXECUTE sp_rename N'TaskMan.Tmp_Remark', N'Remark', 'OBJECT' 
GO
COMMIT
