USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateTask]    Script Date: 01/31/2012 06:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [TaskMan].[UpdateTask] 
			@DatabaseId int,
            @Description varchar(250) =null,
            @DetailedDescription varchar(5000) =null,
            @Priority varchar(16) =null,
            @DueDate DateTime =null,
            @RequestorPersonId int,
            @AffectedComponentId int =null,
            @DateAdded DateTime,

            @EffortInDays float =null,
            @TaskType varchar(50) =null,
            @Status varchar(20) =null,
            @StatusDate DateTime =null,
            @Owner varchar(50) =null,
            @TentativeResourceAssignment bit =null
        
	
AS
BEGIN

	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime

	if @Owner is null
	select @Owner = USER
	
	if @DatabaseId > 0
	begin
		update TaskMan.Task set	
			 Description = @Description,
			 DetailedDescription = @DetailedDescription,
			 Priority = @Priority,
			 DueDate = @DueDate,
			 Requestor_PersonId = @RequestorPersonId,
			 ComponentId = @AffectedComponentId,
			 DateAdded = @DateAdded,
			 EffortEstimate = @EffortInDays,
			 TaskType = @TaskType,
			 Status = @Status,
			 StatusDate = @StatusDate,
			 [Owner] = @Owner,
			 TentativeResourceAssignment = @TentativeResourceAssignment,
			 ModifiedBy = user,
			 ModifiedTime = @modifiedTime
		where  TaskId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime		
	end
	else
	begin
		insert into TaskMan.Task 
			(Description, DetailedDescription, Priority, DueDate, Requestor_PersonId, 
			ComponentId, DateAdded, EffortEstimate, TaskType, Status,StatusDate,
			[Owner],TentativeResourceAssignment,
			ModifiedBy,ModifiedTime)
		values
			(@Description, @DetailedDescription, @Priority, @DueDate, @RequestorPersonId,
			 @AffectedComponentId, @DateAdded, @EffortInDays, @TaskType, @Status,@StatusDate,
			 @Owner,@TentativeResourceAssignment,
			 user,@modifiedTime)
		 
		 select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
go

USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateAttachment]    Script Date: 01/31/2012 06:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [TaskMan].[UpdateAttachment] 
			@DatabaseId int,
            @TaskId int,
            @ComponentId int,
            @ProjectId int,
            @Name varchar(250),
            @CreateTime DateTime =null,
            @DataType varchar(10),
            @From varchar(20)=null,
            @Data varbinary(MAX)=null,
            @Owner varchar(50) =null,
            @Size int =null
AS
BEGIN
	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime
	
	if @DatabaseId > 0
	begin
		update TaskMan.Attachment set	
			 TaskId = @TaskId,
			 ComponentId = @ComponentId,
			 ProjectId = @ProjectId,
			 Name = @Name,
			 CreateTime = @CreateTime,
			 [DataType] = @DataType,
			 [From] = @From,
			 Data = @Data,
			 [Owner] = @Owner,
			 Size = @Size,
			 ModifiedBy = user,
			 ModifiedTime = @modifiedTime
		where  AttachmentId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime			
	end
	else
	begin
		insert into TaskMan.Attachment 
			(TaskId, ComponentId,ProjectId,Name, CreateTime, [DataType], [From], Data, Size,[Owner],ModifiedBy,ModifiedTime)
		values
			(@TaskId,@ComponentId,@ProjectId,@Name,@CreateTime,@DataType,@From,@Data, @Size, @Owner,user,@modifiedTime)
		 
		 select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
go

USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateComponent]    Script Date: 01/31/2012 06:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [TaskMan].[UpdateComponent] 
			@DatabaseId int,
            @ParentComponentId int =null,
            @Name varchar(100) =null,
            @Owner varchar(50) =null        
	
AS
BEGIN
	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime
	
	if @DatabaseId > 0
	begin
		update TaskMan.Component set	
			 ParentComponentId = @ParentComponentId,
			 Name = @Name,
			 [Owner]=@Owner,
			 ModifiedBy = user,
			 ModifiedTime = @modifiedTime
		where  ComponentId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime			
	end
	else
	begin
		insert into TaskMan.Component 
			(ParentComponentId, Name,ModifiedBy,ModifiedTime,[Owner])
		values
			(@ParentComponentId, @Name,user,@modifiedTime,@Owner)
		 
		 select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
go

USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdatePerson]    Script Date: 01/31/2012 06:37:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [TaskMan].[UpdatePerson] 
			@DatabaseId int,
            @Name varchar(20) =null,
            @IsResource bit =null,
            @DBLogin varchar(20) =null,
            @UserType varchar(20) =null      
	
AS
BEGIN
	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime
	
	if @DatabaseId > 0
	begin
		update TaskMan.Person set	
			 Name = @Name,
			 IsResource = @IsResource,
			 DBLogin = @DBLogin,
			 UserType = @UserType,
			 ModifiedBy = user,
			 ModifiedTime = @modifiedTime
		where  PersonId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime			
	end
	else
	begin
		insert into TaskMan.Person 
			( Name, IsResource,DBLogin,UserType,ModifiedBy,ModifiedTime)
		values
			( @Name, @IsResource,@DBLogin,@UserType,user,@modifiedTime)
		 
		 select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
go

USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateProject]    Script Date: 01/31/2012 06:38:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [TaskMan].[UpdateProject] 
			@DatabaseId int,
			@ParentProjectId int,
            @Name varchar(100) =null,
            @Priority varchar(16)=null,
            @DetailedDescription varchar(5000)=null,
            @Owner varchar(500)=null     
	
AS
BEGIN
	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime
	
	if @Owner is null
	select @Owner = USER
	
	if @DatabaseId > 0
	begin
		update TaskMan.Project set	
			 Name = @Name,
			 Priority = @Priority,
			 ParentProjectId = @ParentProjectId,
			 DetailedDescription = @DetailedDescription,
			 [Owner] = @Owner,
			 ModifiedBy = user,
			 ModifiedTime = @modifiedTime
		where  ProjectId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime			
	end
	else
	begin
		insert into TaskMan.Project 
			( Name, ParentProjectId, Priority,DetailedDescription,[Owner],ModifiedBy,ModifiedTime)
		values
			( @Name, @ParentProjectId, @Priority,@DetailedDescription,@Owner,user,@modifiedTime)
		 
		 select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
go

USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateRemark]    Script Date: 01/31/2012 06:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [TaskMan].[UpdateRemark] 
			@DatabaseId int,
            @TaskId int,
            @ComponentId int,
            @ProjectId int,
            @RemarkText varchar(1000)=null,
            @Owner varchar(50)
AS
BEGIN

	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime
	
	if @DatabaseId > 0
	begin
		update TaskMan.Remark set	
			 TaskId = @TaskId,
			 ComponentId = @ComponentId,
			 ProjectId = @ProjectId,
			 RemarkText = @RemarkText,
			 [Owner] = @Owner,
			 ModifiedTime = @ModifiedTime,
			 ModifiedBy = user
		where  RemarkId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime			
	end
	else
	begin
		insert into TaskMan.Remark 
			(TaskId, ComponentId,ProjectId, RemarkText,[Owner], ModifiedTime,ModifiedBy)
		values
			(@TaskId,@ComponentId,@ProjectId,@RemarkText,@Owner,@ModifiedTime,user)
		 
		 select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
go

USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateTask2Project]    Script Date: 01/31/2012 06:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [TaskMan].[UpdateTask2Project] 
			@DatabaseId int,
            @TaskId int, 
            @ProjectId int       
	
AS
BEGIN

	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime
	
	if @DatabaseId > 0
	begin
		update TaskMan.Task2Project set	
			  TaskId = @TaskId,
			  ProjectId = @ProjectId,
			 ModifiedBy = user,
			 ModifiedTime = @modifiedTime
		where  Task2ProjectId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime			
	end
	else
	begin
		insert into TaskMan.Task2Project 
			(TaskId, ProjectId,ModifiedBy,ModifiedTime)
		values
			(@TaskId, @ProjectId,user,@modifiedTime)
		 
		 select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
go

USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateTask2Resource]    Script Date: 01/31/2012 06:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [TaskMan].[UpdateTask2Resource] 
			@DatabaseId int,
            @TaskId int, 
            @PersonId int = null,
            @OtherResourceId int = null       
	
AS
BEGIN

	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime
	
	if @DatabaseId > 0
	begin
		update TaskMan.Task2Resource set	
			  TaskId = @TaskId,
			  PersonId = @PersonId,
			  OtherResourceId = @OtherResourceId,
			 ModifiedBy = user,
			 ModifiedTime = @modifiedTime
		where  Task2ResourceId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime	
	end
	else
	begin
		insert into TaskMan.Task2Resource 
			(TaskId, PersonId,OtherResourceId,ModifiedBy,ModifiedTime)
		values
			(@TaskId, @PersonId,@OtherResourceId,user,@modifiedTime)
		 
		select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
go

ALTER PROCEDURE [TaskMan].[SelectAllTasks] 
	@modifiedSince Datetime = null
AS
BEGIN
	select * 
	 from TaskMan.Task
	 where @modifiedSince is null
	 or ModifiedTime > @modifiedSince
END
go

----------------------

ALTER PROCEDURE [TaskMan].[DeleteAttachment] 
			@DatabaseId int       	
AS
BEGIN
	update [TaskMan].[System] set LastUpdateTime = getdate()

	delete from TaskMan.Attachment
	where AttachmentId = @DatabaseId
END
go



ALTER PROCEDURE [TaskMan].[DeleteComponent] 
			@DatabaseId int       	
AS
BEGIN
	update [TaskMan].[System] set LastUpdateTime = getdate()


	delete from TaskMan.Component
	where ComponentId = @DatabaseId
END
go


ALTER PROCEDURE [TaskMan].[DeletePerson] 
			@DatabaseId int       	
AS
BEGIN
	update [TaskMan].[System] set LastUpdateTime = getdate()

	delete from TaskMan.Person
	where PersonId = @DatabaseId
END
go


ALTER PROCEDURE [TaskMan].[DeleteProject] 
			@DatabaseId int       	
AS
BEGIN
	update [TaskMan].[System] set LastUpdateTime = getdate()

	delete from TaskMan.Project
	where ProjectId = @DatabaseId
END
go


ALTER PROCEDURE [TaskMan].[DeleteRemark] 
			@DatabaseId int       	
AS
BEGIN
	update [TaskMan].[System] set LastUpdateTime = getdate()

	delete from TaskMan.Remark
	where RemarkId = @DatabaseId
END
go


ALTER PROCEDURE [TaskMan].[DeleteTask] 
			@DatabaseId int       	
AS
BEGIN
	update [TaskMan].[System] set LastUpdateTime = getdate()

	delete from TaskMan.Task
	where TaskId = @DatabaseId
END
go


ALTER PROCEDURE [TaskMan].[DeleteTask2Project] 
			@DatabaseId int       	
AS
BEGIN
	update [TaskMan].[System] set LastUpdateTime = getdate()

	delete from TaskMan.Task2Project
	where Task2ProjectId = @DatabaseId
END
go


ALTER PROCEDURE [TaskMan].[DeleteTask2Resource] 
			@DatabaseId int       	
AS
BEGIN

	update [TaskMan].[System] set LastUpdateTime = getdate()

	delete from TaskMan.Task2Resource
	where Task2ResourceId = @DatabaseId
END
go