USE [TaskMan]
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateRemark]    Script Date: 12/13/2011 06:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [TaskMan].[UpdateRemark] 
			@DatabaseId int,
            @TaskId int,
            @ComponentId int,
            @ProjectId int,
            @RemarkText varchar(1000)=null,
            @Owner varchar(50) =null,
            @ModifiedTime datetime =null output
AS
BEGIN

	select @ModifiedTime = GETDATE()

	if @DatabaseId > 0
	begin
		update TaskMan.Remark set	
			 TaskId = @TaskId,
			 ComponentId = @ComponentId,
			 ProjectId = @ProjectId,
			 RemarkText = @RemarkText,
			 [Owner] = @Owner,
			 ModifiedTime = @ModifiedTime
		where  RemarkId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Remark 
			(TaskId, ComponentId,ProjectId, RemarkText,[Owner], ModifiedTime)
		values
			(@TaskId,@ComponentId,@ProjectId,@RemarkText,@Owner,@ModifiedTime)
		 
		 select convert(int,@@IDENTITY)			
	end
END
