USE [TaskMan]
GO
/****** Object:  Table [TaskMan].[Remark]    Script Date: 05/15/2011 09:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TaskMan].[Remark](
	[RemarkId] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NULL,
	[ComponentId] [int] NULL,
	[ProjectId] [int] NULL,
	[RemarkText] [varchar](1000) NULL,
	[ModifiedBy] [varchar](20) NOT NULL,
	[ModifiedTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [TaskMan].[UpdateRemark]    Script Date: 05/15/2011 09:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [TaskMan].[UpdateRemark] 
			@DatabaseId int,
            @TaskId int,
            @ComponentId int,
            @ProjectId int,
            @RemarkText varchar(1000)=null,
            @ModifiedTime datetime =null output,
            @ModifiedBy varchar(20) =null output
AS
BEGIN

	select @ModifiedTime = GETDATE()
	select @ModifiedBy = user

	if @DatabaseId > 0
	begin
		update TaskMan.Remark set	
			 TaskId = @TaskId,
			 ComponentId = @ComponentId,
			 ProjectId = @ProjectId,
			 RemarkText = @RemarkText,
			 ModifiedBy = @ModifiedBy,
			 ModifiedTime = @ModifiedTime
		where  RemarkId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Remark 
			(TaskId, ComponentId,ProjectId, RemarkText,ModifiedBy, ModifiedTime)
		values
			(@TaskId,@ComponentId,@ProjectId,@RemarkText,@ModifiedBy,@ModifiedTime)
		 
		 select convert(int,@@IDENTITY)			
	end
END
GO
/****** Object:  StoredProcedure [TaskMan].[SelectAllRemarks]    Script Date: 05/15/2011 09:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [TaskMan].[SelectAllRemarks] 
AS
BEGIN
	select *
	 from TaskMan.Remark
END
GO
/****** Object:  StoredProcedure [TaskMan].[DeleteRemark]    Script Date: 05/15/2011 09:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [TaskMan].[DeleteRemark] 
			@DatabaseId int       	
AS
BEGIN
	delete from TaskMan.Remark
	where RemarkId = @DatabaseId
END
GO
