<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString_tmp" value="Nomura"/>
    <add key="SearchTypeCutOffDate" value="26-Jul-2012"/>
    <add key="ConnectionString_Nomura" value="Data Source=ln_ms_absr_prd1.nomura.com\LN_MS_ABSR_PRD1; Integrated Security=SSPI;Initial Catalog = ABSIT_Plan"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
