

BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_Attachment
	(
	AttachmentId int NOT NULL IDENTITY (1, 1),
	TaskId int NULL,
	ComponentId int NULL,
	ProjectId int NULL,
	Name nvarchar(1000) NOT NULL,
	CreateTime datetime NULL,
	DataType nvarchar(10) NOT NULL,
	[From] nvarchar(20) NULL,
	Size int NULL,
	Data varbinary(MAX) NULL,
	Owner nvarchar(50) NULL,
	ModifiedBy nvarchar(50) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Attachment SET (LOCK_ESCALATION = TABLE)
GO
GRANT DELETE ON TaskMan.Tmp_Attachment TO eabs_pp  AS dbo
GO
GRANT INSERT ON TaskMan.Tmp_Attachment TO eabs_pp  AS dbo
GO
GRANT SELECT ON TaskMan.Tmp_Attachment TO eabs_pp  AS dbo
GO
GRANT UPDATE ON TaskMan.Tmp_Attachment TO eabs_pp  AS dbo
GO
SET IDENTITY_INSERT TaskMan.Tmp_Attachment ON
GO
IF EXISTS(SELECT * FROM TaskMan.Attachment)
	 EXEC('INSERT INTO TaskMan.Tmp_Attachment (AttachmentId, TaskId, ComponentId, ProjectId, Name, CreateTime, DataType, [From], Size, Data, Owner, ModifiedBy, ModifiedTime)
		SELECT AttachmentId, TaskId, ComponentId, ProjectId, Name, CreateTime, DataType, [From], Size, CONVERT(varbinary(MAX), Data), Owner, ModifiedBy, ModifiedTime FROM TaskMan.Attachment WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Attachment OFF
GO
DROP TABLE TaskMan.Attachment
GO
EXECUTE sp_rename N'TaskMan.Tmp_Attachment', N'Attachment', 'OBJECT' 
GO
COMMIT


CREATE TABLE TaskMan.Tmp_Project
	(
	ProjectId int NOT NULL IDENTITY (1, 1),
	Name nvarchar(1000) NULL,
	ParentProjectId int NULL,
	Priority nvarchar(50) NULL,
	DetailedDescription nvarchar(MAX) NULL,
	Owner nvarchar(50) NULL,
	DueDate datetime NULL,
	ModifiedBy nvarchar(50) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Project SET (LOCK_ESCALATION = TABLE)
GO
GRANT DELETE ON TaskMan.Tmp_Project TO eabs_pp  AS dbo
GO
GRANT INSERT ON TaskMan.Tmp_Project TO eabs_pp  AS dbo
GO
GRANT SELECT ON TaskMan.Tmp_Project TO eabs_pp  AS dbo
GO
GRANT UPDATE ON TaskMan.Tmp_Project TO eabs_pp  AS dbo
GO
SET IDENTITY_INSERT TaskMan.Tmp_Project ON
GO
IF EXISTS(SELECT * FROM TaskMan.Project)
	 EXEC('INSERT INTO TaskMan.Tmp_Project (ProjectId, Name, ParentProjectId, Priority, DetailedDescription, Owner, DueDate, ModifiedBy, ModifiedTime)
		SELECT ProjectId, Name, ParentProjectId, Priority, CONVERT(nvarchar(MAX), DetailedDescription), Owner, DueDate, ModifiedBy, ModifiedTime FROM TaskMan.Project WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Project OFF
GO
DROP TABLE TaskMan.Project
GO
EXECUTE sp_rename N'TaskMan.Tmp_Project', N'Project', 'OBJECT' 
GO
COMMIT


CREATE TABLE TaskMan.Tmp_Remark
	(
	RemarkId int NOT NULL IDENTITY (1, 1),
	TaskId int NULL,
	ComponentId int NULL,
	ProjectId int NULL,
	RemarkText nvarchar(MAX) NULL,
	Owner nvarchar(50) NOT NULL,
	ModifiedTime datetime NOT NULL,
	ModifiedBy nvarchar(50) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Remark SET (LOCK_ESCALATION = TABLE)
GO
GRANT DELETE ON TaskMan.Tmp_Remark TO eabs_pp  AS dbo
GO
GRANT INSERT ON TaskMan.Tmp_Remark TO eabs_pp  AS dbo
GO
GRANT SELECT ON TaskMan.Tmp_Remark TO eabs_pp  AS dbo
GO
GRANT UPDATE ON TaskMan.Tmp_Remark TO eabs_pp  AS dbo
GO
SET IDENTITY_INSERT TaskMan.Tmp_Remark ON
GO
IF EXISTS(SELECT * FROM TaskMan.Remark)
	 EXEC('INSERT INTO TaskMan.Tmp_Remark (RemarkId, TaskId, ComponentId, ProjectId, RemarkText, Owner, ModifiedTime, ModifiedBy)
		SELECT RemarkId, TaskId, ComponentId, ProjectId, CONVERT(nvarchar(MAX), RemarkText), Owner, ModifiedTime, ModifiedBy FROM TaskMan.Remark WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Remark OFF
GO
DROP TABLE TaskMan.Remark
GO
EXECUTE sp_rename N'TaskMan.Tmp_Remark', N'Remark', 'OBJECT' 
GO
COMMIT


CREATE TABLE TaskMan.Tmp_Task
	(
	TaskId int NOT NULL IDENTITY (1, 1),
	OrigTaskNumber nvarchar(50) NULL,
	Priority nvarchar(50) NULL,
	DueDate datetime NULL,
	AffectedComponentId int NULL,
	Description varchar(1000) NULL,
	RequestorPersonId int NULL,
	DateAdded datetime NOT NULL,
	EffortInDays float(53) NULL,
	EffortType nvarchar(50) NULL,
	PercentageAllocation float(53) NULL,
	TaskType nvarchar(50) NULL,
	Status nvarchar(50) NULL,
	StatusDate datetime NULL,
	DetailedDescription nvarchar(MAX) NULL,
	Owner nvarchar(50) NULL,
	TentativeResourceAssignment bit NULL,
	ModifiedBy nvarchar(50) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Task SET (LOCK_ESCALATION = TABLE)
GO
GRANT DELETE ON TaskMan.Tmp_Task TO eabs_pp  AS dbo
GO
GRANT INSERT ON TaskMan.Tmp_Task TO eabs_pp  AS dbo
GO
GRANT SELECT ON TaskMan.Tmp_Task TO eabs_pp  AS dbo
GO
GRANT UPDATE ON TaskMan.Tmp_Task TO eabs_pp  AS dbo
GO
SET IDENTITY_INSERT TaskMan.Tmp_Task ON
GO
IF EXISTS(SELECT * FROM TaskMan.Task)
	 EXEC('INSERT INTO TaskMan.Tmp_Task (TaskId, OrigTaskNumber, Priority, DueDate, AffectedComponentId, Description, RequestorPersonId, DateAdded, EffortInDays, EffortType, PercentageAllocation, TaskType, Status, StatusDate, DetailedDescription, Owner, TentativeResourceAssignment, ModifiedBy, ModifiedTime)
		SELECT TaskId, OrigTaskNumber, Priority, DueDate, AffectedComponentId, Description, RequestorPersonId, DateAdded, EffortInDays, EffortType, PercentageAllocation, TaskType, Status, StatusDate, CONVERT(nvarchar(MAX), DetailedDescription), Owner, TentativeResourceAssignment, ModifiedBy, ModifiedTime FROM TaskMan.Task WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Task OFF
GO
DROP TABLE TaskMan.Task
GO
EXECUTE sp_rename N'TaskMan.Tmp_Task', N'Task', 'OBJECT' 
GO
COMMIT
