/*
   26 June 201206:26:38
   User: 
   Server: JABBA\SQLSERVEREXPRESS
   Database: TaskMan
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_Attachment
	(
	AttachmentId int NOT NULL IDENTITY (1, 1),
	TaskId int NULL,
	ComponentId int NULL,
	ProjectId int NULL,
	Name nvarchar(1000) NOT NULL,
	CreateTime datetime NULL,
	DataType nvarchar(10) NOT NULL,
	[From] nvarchar(20) NULL,
	Size int NULL,
	Data image NULL,
	Owner nvarchar(50) NULL,
	ModifiedBy nvarchar(50) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Attachment SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Attachment ON
GO
IF EXISTS(SELECT * FROM TaskMan.Attachment)
	 EXEC('INSERT INTO TaskMan.Tmp_Attachment (AttachmentId, TaskId, ComponentId, ProjectId, Name, CreateTime, DataType, [From], Size, Data, Owner, ModifiedBy, ModifiedTime)
		SELECT AttachmentId, TaskId, ComponentId, ProjectId, CONVERT(nvarchar(1000), Name), CreateTime, CONVERT(nvarchar(10), DataType), CONVERT(nvarchar(20), [From]), Size, CONVERT(image, Data), CONVERT(nvarchar(50), Owner), CONVERT(nvarchar(50), ModifiedBy), ModifiedTime FROM TaskMan.Attachment WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Attachment OFF
GO
DROP TABLE TaskMan.Attachment
GO
EXECUTE sp_rename N'TaskMan.Tmp_Attachment', N'Attachment', 'OBJECT' 
GO
COMMIT
