/****** Object:  StoredProcedure [TaskMan].[UpdateAttachment]    Script Date: 01/09/2012 06:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [TaskMan].[UpdateAttachment] 
			@DatabaseId int,
            @TaskId int,
            @ComponentId int,
            @ProjectId int,
            @Name varchar(250),
            @CreateTime DateTime =null,
            @DataType varchar(10),
            @From varchar(20)=null,
            @Data varbinary(MAX)=null,
            @Owner varchar(50) =null
AS
BEGIN
	if @DatabaseId > 0
	begin
		update TaskMan.Attachment set	
			 TaskId = @TaskId,
			 ComponentId = @ComponentId,
			 ProjectId = @ProjectId,
			 Name = @Name,
			 CreateTime = @CreateTime,
			 [DataType] = @DataType,
			 [From] = @From,
			 Data = @Data,
			 [Owner] = @Owner,
			 ModifiedBy = user,
			 ModifiedTime = getDate()
		where  AttachmentId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Attachment 
			(TaskId, ComponentId,ProjectId,Name, CreateTime, [DataType], [From], Data, [Owner],ModifiedBy,ModifiedTime)
		values
			(@TaskId,@ComponentId,@ProjectId,@Name,@CreateTime,@DataType,@From,@Data, @Owner,user,getDate())
		 
		 select convert(int,@@IDENTITY)			
	end
END
