
ALTER TABLE TaskMan.Person ADD
	DBLogin varchar(20) NULL,
	UserType varchar(20) NULL,
	ModifiedBy varchar(20) NULL,
	ModifiedTime datetime NULL
GO

ALTER PROCEDURE [TaskMan].[UpdatePerson] 
			@DatabaseId int,
            @Name varchar(20) =null,
            @IsResource bit =null,
            @DBLogin varchar(20) =null,
            @UserType varchar(20) =null      
	
AS
BEGIN
	if @DatabaseId > 0
	begin
		update TaskMan.Person set	
			 Name = @Name,
			 IsResource = @IsResource,
			 DBLogin = @DBLogin,
			 UserType = @UserType,
			 ModifiedBy = user,
			 ModifiedTime = getDate()
		where  PersonId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Person 
			( Name, IsResource,DBLogin,UserType,ModifiedBy,ModifiedTime)
		values
			( @Name, @IsResource,@DBLogin,@UserType,user,getDate())
		 
		select convert(int,@@IDENTITY)		
	end
END

