

ALTER PROCEDURE [TaskMan].[UpdateTask] 
			@DatabaseId int,
            @Description varchar(250) =null,
            @DetailedDescription varchar(5000) =null,
            @Priority varchar(16) =null,
            @DueDate DateTime =null,
            @RequestorPersonId int,
            @AffectedComponentId int =null,
            @DateAdded DateTime,

            @EffortInDays float =null,
            @TaskType varchar(50) =null,
            @Status varchar(20) =null,
            @StatusDate DateTime =null,
            @Owner varchar(50) =null,
            @TentativeResourceAssignment bit =null
        
	
AS
BEGIN

	if @Owner is null
	select @Owner = USER
	
	if @DatabaseId > 0
	begin
		update TaskMan.Task set	
			 Description = @Description,
			 DetailedDescription = @DetailedDescription,
			 Priority = @Priority,
			 DueDate = @DueDate,
			 Requestor_PersonId = @RequestorPersonId,
			 ComponentId = @AffectedComponentId,
			 DateAdded = @DateAdded,
			 EffortEstimate = @EffortInDays,
			 TaskType = @TaskType,
			 Status = @Status,
			 StatusDate = @StatusDate,
			 [Owner] = @Owner,
			 TentativeResourceAssignment = @TentativeResourceAssignment,
			 ModifiedBy = user,
			 ModifiedTime = getDate()
		where  TaskId = @DatabaseId
		 
		select @DatabaseId			
	end
	else
	begin
		insert into TaskMan.Task 
			(Description, DetailedDescription, Priority, DueDate, Requestor_PersonId, 
			ComponentId, DateAdded, EffortEstimate, TaskType, Status,StatusDate,
			[Owner],TentativeResourceAssignment,
			ModifiedBy,ModifiedTime)
		values
			(@Description, @DetailedDescription, @Priority, @DueDate, @RequestorPersonId,
			 @AffectedComponentId, @DateAdded, @EffortInDays, @TaskType, @Status,@StatusDate,
			 @Owner,@TentativeResourceAssignment,
			 user,getDate())
		 
		 select convert(int,@@IDENTITY)			
	end
END
