
BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_Task
	(
	TaskId int NOT NULL IDENTITY (1, 1),
	OrigTaskNumber varchar(50) NULL,
	OrigResource varchar(50) NULL,
	Priority varchar(16) NULL,
	DueDate datetime NULL,
	OrigAffectedComponent varchar(50) NULL,
	ComponentId int NULL,
	Description varchar(250) NULL,
	OrigRequestor varchar(50) NULL,
	Requestor_PersonId int NULL,
	DateAdded datetime NOT NULL,
	EffortEstimate float(53) NULL,
	TaskType varchar(50) NULL,
	Status varchar(20) NULL,
	StatusDate datetime NULL,
	DetailedDescription varchar(5000) NULL,
	Owner varchar(50) NULL,
	TentativeResourceAssignment bit NULL,
	ModifiedBy varchar(20) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Task SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Task ON
GO
IF EXISTS(SELECT * FROM TaskMan.Task)
	 EXEC('INSERT INTO TaskMan.Tmp_Task (TaskId, OrigTaskNumber, OrigResource, Priority, DueDate, OrigAffectedComponent, ComponentId, Description, OrigRequestor, Requestor_PersonId, DateAdded, EffortEstimate, TaskType, Status, StatusDate, DetailedDescription, Owner, ModifiedBy, ModifiedTime)
		SELECT TaskId, OrigTaskNumber, OrigResource, Priority, DueDate, OrigAffectedComponent, ComponentId, Description, OrigRequestor, Requestor_PersonId, DateAdded, EffortEstimate, TaskType, Status, StatusDate, DetailedDescription, Owner, ModifiedBy, ModifiedTime FROM TaskMan.Task WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Task OFF
GO
DROP TABLE TaskMan.Task
GO
EXECUTE sp_rename N'TaskMan.Tmp_Task', N'Task', 'OBJECT' 
GO
COMMIT
