/*
   26 June 201206:42:15
   User: 
   Server: JABBA\SQLSERVEREXPRESS
   Database: TaskMan
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_Task2Project
	(
	Task2ProjectId int NOT NULL IDENTITY (1, 1),
	TaskId int NULL,
	ProjectId int NULL,
	ModifiedBy nvarchar(50) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Task2Project SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Task2Project ON
GO
IF EXISTS(SELECT * FROM TaskMan.Task2Project)
	 EXEC('INSERT INTO TaskMan.Tmp_Task2Project (Task2ProjectId, TaskId, ProjectId, ModifiedBy, ModifiedTime)
		SELECT Task2ProjectId, TaskId, ProjectId, CONVERT(nvarchar(50), ModifiedBy), ModifiedTime FROM TaskMan.Task2Project WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Task2Project OFF
GO
DROP TABLE TaskMan.Task2Project
GO
EXECUTE sp_rename N'TaskMan.Tmp_Task2Project', N'Task2Project', 'OBJECT' 
GO
COMMIT
