/*
   26 June 201206:41:22
   User: 
   Server: JABBA\SQLSERVEREXPRESS
   Database: TaskMan
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_Task
	(
	TaskId int NOT NULL IDENTITY (1, 1),
	OrigTaskNumber nvarchar(50) NULL,
	Priority nvarchar(50) NULL,
	DueDate datetime NULL,
	AffectedComponentId int NULL,
	Description varchar(1000) NULL,
	RequestorPersonId int NULL,
	DateAdded datetime NOT NULL,
	EffortInDays float NULL,
	EffortType nvarchar(50) NULL,
	PercentageAllocation float(53) NULL,
	TaskType nvarchar(50) NULL,
	Status nvarchar(50) NULL,
	StatusDate datetime NULL,
	DetailedDescription ntext NULL,
	Owner nvarchar(50) NULL,
	TentativeResourceAssignment bit NULL,
	ModifiedBy nvarchar(50) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Task SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Task ON
GO
IF EXISTS(SELECT * FROM TaskMan.Task)
	 EXEC('INSERT INTO TaskMan.Tmp_Task (TaskId, OrigTaskNumber, Priority, DueDate, AffectedComponentId, Description, RequestorPersonId, DateAdded, EffortInDays, EffortType, PercentageAllocation, TaskType, Status, StatusDate, DetailedDescription, Owner, TentativeResourceAssignment, ModifiedBy, ModifiedTime)
		SELECT TaskId, CONVERT(nvarchar(50), OrigTaskNumber), CONVERT(nvarchar(50), Priority), DueDate, ComponentId, Description, Requestor_PersonId, DateAdded, EffortEstimate, CONVERT(nvarchar(50), EffortType), PercentageAllocation, CONVERT(nvarchar(50), TaskType), CONVERT(nvarchar(50), Status), StatusDate, CONVERT(ntext, DetailedDescription), CONVERT(nvarchar(50), Owner), TentativeResourceAssignment, CONVERT(nvarchar(50), ModifiedBy), ModifiedTime FROM TaskMan.Task WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Task OFF
GO
DROP TABLE TaskMan.Task
GO
EXECUTE sp_rename N'TaskMan.Tmp_Task', N'Task', 'OBJECT' 
GO
COMMIT
