/*
   26 June 201206:32:56
   User: 
   Server: JABBA\SQLSERVEREXPRESS
   Database: TaskMan
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_Person
	(
	PersonId int NOT NULL IDENTITY (1, 1),
	Name nvarchar(100) NULL,
	IsResource bit NULL,
	DBLogin nvarchar(50) NULL,
	UserType nvarchar(20) NULL,
	ModifiedBy nvarchar(50) NULL,
	ModifiedTime datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_Person SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TaskMan.Tmp_Person ON
GO
IF EXISTS(SELECT * FROM TaskMan.Person)
	 EXEC('INSERT INTO TaskMan.Tmp_Person (PersonId, Name, IsResource, DBLogin, UserType, ModifiedBy, ModifiedTime)
		SELECT PersonId, CONVERT(nvarchar(100), Name), IsResource, CONVERT(nvarchar(50), DBLogin), CONVERT(nvarchar(20), UserType), CONVERT(nvarchar(50), ModifiedBy), ModifiedTime FROM TaskMan.Person WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TaskMan.Tmp_Person OFF
GO
DROP TABLE TaskMan.Person
GO
EXECUTE sp_rename N'TaskMan.Tmp_Person', N'Person', 'OBJECT' 
GO
COMMIT
