ALTER TABLE TaskMan.Project
	DROP COLUMN StartDate
GO


ALTER PROCEDURE [TaskMan].[UpdateProject] 
			@DatabaseId int,
			@ParentProjectId int,
            @Name varchar(100) =null,
            @Priority varchar(16)=null,
            @DetailedDescription varchar(5000)=null,
            @Owner varchar(500)=null,
            @DueDate datetime=null     
	
AS
BEGIN
	declare @modifiedTime datetime
	select @modifiedTime = GETDATE()
	update [TaskMan].[System] set LastUpdateTime = @modifiedTime
	
	if @Owner is null
	select @Owner = USER
	
	if @DatabaseId > 0
	begin
		update TaskMan.Project set	
			 Name = @Name,
			 Priority = @Priority,
			 ParentProjectId = @ParentProjectId,
			 DetailedDescription = @DetailedDescription,
			 [Owner] = @Owner,
			 DueDate = @DueDate,
			 ModifiedBy = user,
			 ModifiedTime = @modifiedTime
		where  ProjectId = @DatabaseId
		 
		select @DatabaseId as DatabaseId, @modifiedTime as ModifiedTime			
	end
	else
	begin
		insert into TaskMan.Project 
			( Name, ParentProjectId, Priority,DetailedDescription,[Owner],DueDate,ModifiedBy,ModifiedTime)
		values
			( @Name, @ParentProjectId, @Priority,@DetailedDescription,@Owner,@DueDate,user,@modifiedTime)
		 
		 select convert(int,@@IDENTITY) as DatabaseId, @modifiedTime as ModifiedTime		
	end
END
