/*
   26 June 201206:36:45
   User: 
   Server: JABBA\SQLSERVEREXPRESS
   Database: TaskMan
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TaskMan.Tmp_System
	(
	ReleaseVersion nvarchar(50) NULL,
	LastUpdateTime datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TaskMan.Tmp_System SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM TaskMan.System)
	 EXEC('INSERT INTO TaskMan.Tmp_System (ReleaseVersion, LastUpdateTime)
		SELECT CONVERT(nvarchar(50), ReleaseVersion), LastUpdateTime FROM TaskMan.System WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE TaskMan.System
GO
EXECUTE sp_rename N'TaskMan.Tmp_System', N'System', 'OBJECT' 
GO
COMMIT
